<div class="container">
  <div class="row qualificationcss">
    <h5>Qualification Info</h5>
  </div>
  <div class="clear-fix"></div>
  <div class="row labelText">
    <div class="col-md-1"></div>
    <div class="col-md-2 form-group">
      <label>Qualification</label>
      <select class="form-control">
        <option>10th Class</option>
        <option>B.Com</option>
        <option>B.E</option>
        <option>AMIE</option>
      </select>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-3 form-group">
      <label>School/College</label>
      <input type="text" class="form-control" placeholder="School/College Name">
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-3 form-group">
      <label>Board/University</label>
      <input type="text" class="form-control" placeholder="Board/University Name">
    </div>
    <div class="col-md-1"></div>
  </div>
  <div class="clear-fix"></div>
  <div class="row labelText">
    <div class="col-md-1"></div>
    <div class="col-md-2 form-group">
      <label>Year of Completion</label>
      <select class="form-control">
        <option>2018</option>
        <option>2017</option>
        <option>2016</option>
        <option>2015</option>
      </select>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-3 form-group">
      <label>Percentage/GPA</label>
      <input type="text" class="form-control" placeholder="Percentage/GPA">
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-3 form-group">
      <label>Grade</label>
      <input type="text" class="form-control" placeholder="Grade">
    </div>
    <div class="col-md-1"></div>
  </div>
  <div class="clear-fix"></div>
  <div class="row">
    <div class="col-md-5"></div>
    <div class="col-md-2">
      <button class="btn btn-primary" style="padding:6% 35%">Add</button>
    </div>
    <div class="col-md-5"></div>
  </div>
  <div class="clear-fix"></div>
  <div class="clear-fix"></div>
  <div class="row">
    <div class="table-responsive">
<table class="table table-bordered">
<thead>
  <tr>
    <th>Qualification</th>
    <th>School\College</th>
    <th>Board\University</th>
    <th>Year of Completion</th>
    <th>Percentage\GPA</th>
    <th>Grade</th>
  </tr>
</thead>
<tbody>
  <tr>

  </tr>
</tbody>
</table>
    </div>
  </div>
</div>