<div class="container">
  <div class="row personnelcss">
    <h5>Personnel Info</h5>
  </div>
  <div class="row labelText">
    <div class="col-md-2"></div>
    <div class="col-md-2">
      <label>First Name</label>
    </div>
    <div class="col-md-1">:</div>
    <div class="col-md-3">
      <input type="text" class="form-control" placeholder="First Name" [(ngModel)]=personalData.FirstName name="FirstName" #FirstName="ngModel">
    </div>
    <div class="col-md-2"></div>
  </div>
  <div class="clear-fix"></div>
  <div class="row labelText">
    <div class="col-md-2"></div>
    <div class="col-md-2">
      <label>Middle Name</label>
    </div>
    <div class="col-md-1">:</div>
    <div class="col-md-3">
      <input type="text" class="form-control" placeholder="Middle Name" [(ngModel)]=personalData.MiddleName name="MiddleName" #MiddleName="ngModel">
    </div>
    <div class="col-md-2"></div>
  </div>
  <div class="clear-fix"></div>
  <div class="row labelText">
    <div class="col-md-2"></div>
    <div class="col-md-2">
      <label>Last Name</label>
    </div>
    <div class="col-md-1">:</div>
    <div class="col-md-3">
      <input type="text" class="form-control" placeholder="Last Name" [(ngModel)]=personalData.LastName name="LastName" #LastName="ngModel">
    </div>
    <div class="col-md-2"></div>
  </div>
  <div class="clear-fix"></div>
  <div class="row labelText">
    <div class="col-md-2"></div>
    <div class="col-md-2">
      <label>Gender</label>
    </div>
    <div class="col-md-1">:</div>
    <div class="col-md-3">
      <select class="form-control" [(ngModel)]=personalData.Gender name="Gender" #Gender="ngModel">
        <option>Select</option>
        <option>Male</option>
        <option>Female</option>
      </select>
    </div>
    <div class="col-md-2"></div>
  </div>
  <div class="clear-fix"></div>
  <div class="row labelText">
    <div class="col-md-2"></div>
    <div class="col-md-2">
      <label>Mobile Number</label>
    </div>
    <div class="col-md-1">:</div>
    <div class="col-md-3">
      <input type="number" class="form-control" placeholder="Mobile Number" [(ngModel)]=personalData.MobileNumber name="MobileNumber"
        #MobileNumber="ngModel">
    </div>
    <div class="col-md-2"></div>
  </div>
  <div class="clear-fix"></div>
  <div class="row labelText">
    <div class="col-md-2"></div>
    <div class="col-md-2">
      <label>Address</label>
    </div>
    <div class="col-md-1">:</div>
    <div class="col-md-3">
      <textarea class="form-control" rows="3" [(ngModel)]=personalData.Address name="Address" #Address="ngModel"></textarea>
    </div>
    <div class="col-md-2"></div>
  </div>
  <div class="clear-fix"></div>
  <div class="row labelText">
    <div class="col-md-2"></div>
    <div class="col-md-2">
      <label>City</label>
    </div>
    <div class="col-md-1">:</div>
    <div class="col-md-3">
      <input type="text" class="form-control" placeholder="City" [(ngModel)]=personalData.City name="City" #City="ngModel">
    </div>
    <div class="col-md-2"></div>
  </div>
  <div class="clear-fix"></div>
  <div class="row labelText">
    <div class="col-md-2"></div>
    <div class="col-md-2">
      <label>State</label>
    </div>
    <div class="col-md-1">:</div>
    <div class="col-md-3">
      <input type="text" class="form-control" placeholder="State" [(ngModel)]=personalData.State name="State" #State="ngModel">
    </div>
    <div class="col-md-2"></div>
  </div>
  <div class="clear-fix"></div>
  <div class="row labelText">
    <div class="col-md-2"></div>
    <div class="col-md-2">
      <label>Country</label>
    </div>
    <div class="col-md-1">:</div>
    <div class="col-md-3">
      <input type="text" class="form-control" placeholder="Country" [(ngModel)]=personalData.Country name="Country" #Country="ngModel">
    </div>
    <div class="col-md-2"></div>
  </div>
  <div class="clear-fix"></div>
  <div class="row labelText">
    <div class="col-md-2"></div>
    <div class="col-md-2">
      <label>Date of Birth</label>
    </div>
    <div class="col-md-1">:</div>
    <div class="col-md-3">
      <input type="date" class="form-control" placeholder="D.O.B" [(ngModel)]=personalData.DOB name="DOB" #DOB="ngModel">
    </div>
    <div class="col-md-2"></div>
  </div>
  <div class="clear-fix"></div>
  <div class="row">
    <div class="col-md-8"></div>
    <div class="col-md-4">
      <a class="btn btn-primary" style="padding:6px 45px;font-size:14px" (click)="NextClick()" [routerLink]="['../qualifications']">Next Step </a>
    </div>
  </div>
</div>