<div class="container">
  <form #personal="ngForm">
  <div class="row personnelcss">
    <h5>Personal Info</h5>
  </div>
  <div class="row labelText">
    <div class="col-md-2"></div>
    <div class="col-md-2">
      <label>First Name <span style="color: red">*</span></label>
    </div>
    <div class="col-md-1">:</div>
    <div class="col-md-3">
      <input type="text" [disabled]="submitted=='Submitted'" class="form-control" placeholder="First Name" [(ngModel)]=personalData.FirstName 
      name="FirstName" #FirstName="ngModel" required>    
    </div>
    <div class="col-md-4">
        <div *ngIf="FirstName.errors && FirstName.errors.required && (FirstName.dirty||FirstName.touched)" class="alert alert-danger">
           <label> First Name is required</label>
       </div>
    </div>
  </div>
  <div class="clear-fix"></div>
  <div class="row labelText">
    <div class="col-md-2"></div>
    <div class="col-md-2">
      <label>Middle Name </label>
    </div>
    <div class="col-md-1">:</div>
    <div class="col-md-3">
      <input type="text" [disabled]="submitted=='Submitted'" class="form-control" 
      placeholder="Middle Name" [(ngModel)]=personalData.MiddleName name="MiddleName" 
      #MiddleName="ngModel" >
      
    </div>
    
  </div>
  <div class="clear-fix"></div>
  <div class="row labelText">
    <div class="col-md-2"></div>
    <div class="col-md-2">
      <label>Last Name <span style="color: red">*</span></label>

    </div>
    <div class="col-md-1">:</div>
    <div class="col-md-3">
      <input type="text" [disabled]="submitted=='Submitted'" class="form-control" placeholder="Last Name" 
      [(ngModel)]=personalData.LastName name="LastName" #LastName="ngModel" required>
    </div>
    <div class="col-md-4">
        <div *ngIf="LastName.errors && LastName.errors.required && (LastName.dirty||LastName.touched)" class="alert alert-danger">
            Last Name is required
       </div>
    </div>
  </div>
  <div class="clear-fix"></div>
  <div class="row labelText">
    <div class="col-md-2"></div>
    <div class="col-md-2">
      <label>Gender <span style="color: red">*</span></label>
    </div>
    <div class="col-md-1">:</div>
    <div class="col-md-3">
      <select class="form-control" required [disabled]="submitted=='Submitted'" [(ngModel)]=personalData.Gender name="Gender" #Gender="ngModel">
        <option>Select</option>
        <option>Male</option>
        <option>Female</option>
      </select>

    </div>
    <div class="col-md-4">
        <div *ngIf="personalData.Gender=='Select'  && (Gender.dirty||Gender.touched)" class="alert alert-danger">
            Gender is required
       </div>
    </div>
  </div>
  <div class="clear-fix"></div>
  <div class="row labelText">
    <div class="col-md-2"></div>
    <div class="col-md-2">
      <label>Mobile Number <span style="color: red">*</span></label>

    </div>
    <div class="col-md-1">:</div>
    <div class="col-md-3">
      <input type="number" [disabled]="submitted=='Submitted'" class="form-control" placeholder="Mobile Number" [(ngModel)]=personalData.MobileNumber name="MobileNumber"
        #MobileNumber="ngModel" required pattern="^((\\+91-?)|0)?[0-9]{10}$">
    </div>
    <div class="col-md-4">
        <div *ngIf="MobileNumber.errors && MobileNumber.errors.required && (MobileNumber.dirty||MobileNumber.touched)" class="alert alert-danger">
            Mobile Number is required
       </div>
       <div *ngIf="MobileNumber.errors && MobileNumber.errors.pattern && (MobileNumber.dirty||MobileNumber.touched)" class="alert alert-danger">
          Mobile Number is Invalid
        </div>
    </div>
  </div>
  <div class="clear-fix"></div>
  <div class="row labelText">
    <div class="col-md-2"></div>
    <div class="col-md-2">
      <label>Current  Address <span style="color: red">*</span></label>
    </div>
    <div class="col-md-1">:</div>
    <div class="col-md-3">
      <textarea class="form-control" [disabled]="submitted=='Submitted'" rows="3"
       [(ngModel)]=personalData.CurrentAddress name="CurrentAddress" #CurrentAddress="ngModel" required></textarea>

    </div>
    <div class="col-md-4">
        <div *ngIf="CurrentAddress.errors && CurrentAddress.errors.required && (CurrentAddress.dirty||CurrentAddress.touched)" class="alert alert-danger">
            Current Address is required
       </div>
    </div>
  </div>

  <div class="clear-fix"></div>
  <div class="row labelText">
    <div class="col-md-2"></div>
    <div class="col-md-2">
      <label>Permanent Address <span style="color: red">*</span></label>
    </div>
    <div class="col-md-1">:</div>
    <div class="col-md-3">
      <textarea class="form-control" [disabled]="submitted=='Submitted'" rows="3"
       [(ngModel)]=personalData.PermanentAddress name="PermanentAddress" #PermanentAddress="ngModel" required></textarea>

    </div>
    <div class="col-md-4">
        <div *ngIf="PermanentAddress.errors && PermanentAddress.errors.required && (PermanentAddress.dirty||PermanentAddress.touched)" class="alert alert-danger">
            Permanent Address is required
       </div>
    </div>
    <div class="col-md-4">
        <input type="checkbox" [disabled]="submitted=='Submitted'" #addresscheck (change)="sameAddress($event)"> <label>Same as Current Address</label>
      </div>
  </div>

  <div class="clear-fix"></div>
  <div class="row labelText">
    <div class="col-md-2"></div>
    <div class="col-md-2">
      <label>City <span style="color: red">*</span></label>
    </div>
    <div class="col-md-1">:</div>
    <div class="col-md-3">
      <input type="text" [disabled]="submitted=='Submitted'" class="form-control" placeholder="City"
       [(ngModel)]=personalData.City name="City" #City="ngModel" required>

    </div>
    <div class="col-md-4">
        <div *ngIf="City.errors && City.errors.required && (City.dirty||City.touched)" class="alert alert-danger">
            City is required
       </div>
    </div>
  </div>
  <div class="clear-fix"></div>
  <div class="row labelText">
    <div class="col-md-2"></div>
    <div class="col-md-2">
      <label>State <span style="color: red">*</span></label>
    </div>
    <div class="col-md-1">:</div>
    <div class="col-md-3">
      <input type="text" [disabled]="submitted=='Submitted'" class="form-control" placeholder="State" 
      [(ngModel)]=personalData.State name="State" #State="ngModel" required>

    </div>
    <div class="col-md-4">
        <div *ngIf="State.errors && State.errors.required && (State.dirty||State.touched)" class="alert alert-danger">
            State is required
       </div>
    </div>
  </div>
  <div class="clear-fix"></div>
  <div class="row labelText">
    <div class="col-md-2"></div>
    <div class="col-md-2">
      <label>Country <span style="color: red">*</span></label>
      
    </div>
    <div class="col-md-1">:</div>
    <div class="col-md-3">
      <input type="text" [disabled]="submitted=='Submitted'" class="form-control" placeholder="Country" 
      [(ngModel)]=personalData.Country name="Country" #Country="ngModel" required>

    </div>
    <div class="col-md-4">
        <div *ngIf="Country.errors && Country.errors.required && (Country.dirty||Country.touched)" class="alert alert-danger">
            Country is required
       </div>
    </div>
  </div>
  <div class="clear-fix"></div>
  <div class="row labelText">
    <div class="col-md-2"></div>
    <div class="col-md-2">
      <label>Date of Birth <span style="color: red">*</span></label>    
    </div>
    <div class="col-md-1">:</div>
    <div class="col-md-3">
      <input type="date" [disabled]="submitted=='Submitted'" class="form-control" placeholder="D.O.B"  
      [(ngModel)]=personalData.DOB name="DOB" #DOB="ngModel" required>

    </div>
    <div class="col-md-4">
        <div *ngIf="DOB.errors && DOB.errors.required && (DOB.dirty||DOB.touched)" class="alert alert-danger">
            Date Of Birth is required
       </div>
    </div>
  </div>
<hr>
  <div class="row h5css">
    <h5>Additional Info</h5>
  </div>
    <div class="row labelText">
    <div class="col-md-2"></div>
    <div class="col-md-2">
      <label>Personal Contact</label>
    </div>
    <div class="col-md-1">:</div>
    <div class="col-md-3">
      <input [disabled]="submitted=='Submitted'" type="number" class="form-control" placeholder="Mobile Number" [(ngModel)]=additionalDetails.PersonalContact name="PersonalContact"
        #PersonalContact="ngModel" pattern="^((\\+91-?)|0)?[0-9]{10}$">
    </div>
    <div class="col-md-4">
        <div *ngIf="PersonalContact.errors && PersonalContact.errors.pattern && (PersonalContact.dirty||PersonalContact.touched)" class="alert alert-danger">
            Personal Contact is Invalid
          </div>
    </div>
  </div>
  <div class="clear-fix"></div>
  <div class="row labelText">
      <div class="col-md-2"></div>
      <div class="col-md-2">
        <label>Alternate Contact</label>
      </div>
      <div class="col-md-1">:</div>
      <div class="col-md-3">
        <input [disabled]="submitted=='Submitted'" type="number" class="form-control" placeholder="Mobile Number" [(ngModel)]=additionalDetails.EmergencyContact name="EmergencyContact"
          #EmergencyContact="ngModel" pattern="^((\\+91-?)|0)?[0-9]{10}$">
      </div>
      <div class="col-md-4">
          <div *ngIf="EmergencyContact.errors && EmergencyContact.errors.pattern && (EmergencyContact.dirty||EmergencyContact.touched)" class="alert alert-danger">
              Alternate Contact is Invalid
            </div>
      </div>
    </div>
    <div class="clear-fix"></div>
  <!-- <div class="row labelText">
    <div class="col-md-2"></div>
    <div class="col-md-2">
      <label>Date of Marriage</label>
    </div>
    <div class="col-md-1">:</div>
    <div class="col-md-3">
      <input [disabled]="submitted=='Submitted'" type="date" class="form-control" placeholder="Date" [(ngModel)]=additionalDetails.DateofMarriage name="DateofMarriage"
        #DateofMarriage="ngModel">
    </div>
    <div class="col-md-2"></div>
  </div>
  <div class="clear-fix"></div> -->
  <div class="row labelText">
    <div class="col-md-2"></div>
    <div class="col-md-2">
      <label>Blood Group</label>
    </div>
    <div class="col-md-1">:</div>
    <div class="col-md-3">
      <select [disabled]="submitted=='Submitted'" class="form-control" [(ngModel)]=additionalDetails.BloodGroup name="BloodGroup" #BloodGroup="ngModel" required>
        <option>Select</option>
        <option>A+</option>
        <option>A-</option>
        <option>B+</option>
        <option>B-</option>
        <option>O+</option>
        <option>O-</option>
        <option>AB+</option>
        <option>AB-</option>
      </select>
    </div>
    <div class="col-md-2"></div>
  </div>
  <div class="clear-fix"></div>
  <div class="row labelText">
    <div class="col-md-2"></div>
    <div class="col-md-2">
      <label>Personal Email</label>
    </div>
    <div class="col-md-1">:</div>
    <div class="col-md-3">
      <input [disabled]="submitted=='Submitted'" type="email" class="form-control" placeholder="Email" 
      [(ngModel)]=additionalDetails.PersonalEmail name="PersonalEmail" 
       #PersonalEmail="ngModel" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
    </div>
    <div class="col-md-4">
        <div *ngIf="PersonalEmail.errors && (PersonalEmail.dirty||PersonalEmail.touched)" class="alert alert-danger">
            Email is required
       </div>
    </div>
  </div>
  <div class="clear-fix"></div>
  <div class="row labelText">
    <div class="col-md-2"></div>
    <div class="col-md-2">
      <label>Passport Number</label>
    </div>
    <div class="col-md-1">:</div>
    <div class="col-md-3">
      <input [disabled]="submitted=='Submitted'" type="text" class="form-control" placeholder="Passport" [(ngModel)]=additionalDetails.PassportNumber name="PassportNumber"
        #PassportNumber="ngModel">
    </div>
    <div class="col-md-2"></div>
  </div>
  <div class="clear-fix"></div>
  <div class="row labelText">
    <div class="col-md-2"></div>
    <div class="col-md-2">
      <label>Passport Valid Upto</label>
    </div>
    <div class="col-md-1">:</div>
    <div class="col-md-3">
      <input [disabled]="submitted=='Submitted'" type="date" class="form-control" placeholder="Date" [(ngModel)]=additionalDetails.PassportValidUpto name="PassportValidUpto"
        #PassportValidUpto="ngModel">
    </div>
    <div class="col-md-2"></div>
  </div>
  <div class="clear-fix"></div>
  <div class="row labelText">
    <div class="col-md-2"></div>
    <div class="col-md-2">
      <label>PAN<span style="color:red">*</span></label>
    </div>
    <div class="col-md-1">:</div>
    <div class="col-md-3">
      <input [disabled]="submitted=='Submitted'" type="text" class="form-control" placeholder="PAN" [(ngModel)]=additionalDetails.PermenantAccountNumber name="PermenantAccountNumber"
        #PermenantAccountNumber="ngModel" required>
    </div>
    <div class="col-md-2">
      <div *ngIf="PermenantAccountNumber.errors && (PermenantAccountNumber.dirty||PermenantAccountNumber.touched)" class="alert alert-danger">
        PAN is required
   </div>
    </div>
  </div>
  <div class="clear-fix"></div>
  <div class="row labelText">
    <div class="col-md-2"></div>
    <div class="col-md-2">
      <label>Bank Name</label>
    </div>
    <div class="col-md-1">:</div>
    <div class="col-md-3">
      <input [disabled]="submitted=='Submitted'" type="text" class="form-control" placeholder="Name" [(ngModel)]=additionalDetails.BankName name="BankName" #BankName="ngModel">
    </div>
    <div class="col-md-2"></div>
  </div>

  <div class="clear-fix"></div>
  <div class="row labelText">
    <div class="col-md-2"></div>
    <div class="col-md-2">
      <label>Bank IFSC Code</label>
    </div>
    <div class="col-md-1">:</div>
    <div class="col-md-3">
      <input [disabled]="submitted=='Submitted'" type="text" class="form-control" placeholder="IFSC Code" [(ngModel)]=additionalDetails.BankIFSCCode name="BankIFSCCode"
        #BankIFSCCode="ngModel">
    </div>
    <div class="col-md-2"></div>
  </div>

  <div class="clear-fix"></div>
  <div class="row labelText">
    <div class="col-md-2"></div>
    <div class="col-md-2">
      <label>Bank Account Number</label>
    </div>
    <div class="col-md-1">:</div>
    <div class="col-md-3">
      <input [disabled]="submitted=='Submitted'" type="number" class="form-control" placeholder="Account Number" [(ngModel)]=additionalDetails.BankAccountNumber name="BankAccountNumber"
        #BankAccountNumber="ngModel">
    </div>
    <div class="col-md-2"></div>
  </div>

</form>
  <div class="clear-fix"></div>
  <div class="row">
    <div class="col-md-7"></div>
    <div class="col-md-2">
        <button class="btn btn-primary" style="padding:6px 45px;font-size:14px" (click)="NextClick()" [disabled]="submitted=='Submitted'||!personal.valid" >Update</button>
    </div>
    <div class="col-md-3">
      <button class="btn btn-primary" style="padding:6px 45px;font-size:14px" [disabled]="!personal.valid" [routerLink]="['../qualifications']" (click)="NextClick($event)">Next</button>
    </div>
  </div>
</div>

