<div class="container">
    <div class="row h5css">
        <h5>Training Info</h5>
      </div>
      <div class="clear-fix"></div>
      <div class="row labelText">
        <div class="col-md-2 form-group">
          <label>Category <span style="color: red">*</span></label>
          <select class="form-control" [(ngModel)]="training.Category" name="Category" #Category="ngModel">
            <option>Select</option>
            <option>Technical</option>
            <option>Domain</option>
            <option>Process Compliance</option>
            <option>IT Security Compliance</option>
            <option>Others</option>
          </select>
        </div>
        <div class="col-md-2 form-group">
          <label>Name of Program<span style="color: red">*</span></label>
          <input type="text" class="form-control" [(ngModel)]="training.Name" name="Name" #Name="ngModel" placeholder="Name">
        </div>
        <div class="col-md-2 form-group">
          <label>Start Date <span style="color: red">*</span></label>
          <input type="date" class="form-control" [(ngModel)]="training.StartDate" name="StartDate" #StartDate="ngModel" placeholder="StartDate">
        </div>
        <div class="col-md-2 form-group">
          <label>End Date <span style="color: red">*</span></label>
          <input type="date" class="form-control" [(ngModel)]="training.EndDate" name="EndDate" #EndDate="ngModel" placeholder="EndDate">
        </div>
        <div class="col-md-2 form-group">
          <label>Total Hours <span style="color: red">*</span></label>
          <input type="number" class="form-control" [(ngModel)]="training.TotalHours" name="TotalHours" #TotalHours="ngModel" placeholder="TotalHours">     
        </div>
        <div class="col-md-2 form-group">
          <label>Institute Name<span style="color: red">*</span></label>
          <input type="text" class="form-control" [(ngModel)]="training.InstituteName" name="InstituteName" #InstituteName="ngModel" placeholder="InstituteName">
        </div>
        <div class="col-md-2 form-group">
            <label>Trainer Name<span style="color: red">*</span></label>
            <input type="text" class="form-control" [(ngModel)]="training.TrainerName" name="TrainerName" #TrainerName="ngModel" placeholder="TrainerName">
          </div>
        <div class="clear-fix"></div>
      </div>
      <div class="clear-fix"></div>
      <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-2">
          <button [disabled]="submitted=='Submitted'" class="btn btn-primary addnew" type="submit" (click)="AddTraining()">
            <i class="fa fa-plus"></i>
            Add</button>
        </div>
        <div class="col-md-5"></div>
      </div>
      <div class="clear-fix"></div>
      <div class="clear-fix"></div>
      <div class="row container">
        <div class="table-responsive" *ngIf="trainings.length>0">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Category</th>
                <th>Name of Program</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Total Hours</th>
                <th>Trainer Name</th>
                <th>Institute Name</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of trainings;let i=index">
                <td>
                  <div *ngIf="item.IsEdited">
                    <input type="text" [(ngModel)]="item.Category" class="form-control">
                  </div>
                  <div *ngIf="item.IsEdited != true">
                    {{item.Category}}
                  </div>
                </td>
                <td>
                  <div *ngIf="item.IsEdited">
                    <input type="text" [(ngModel)]="item.Name" class="form-control">
                  </div>
                  <div *ngIf="item.IsEdited != true">
                    {{item.Name}}
                  </div>
                </td>
                <td>
                  <div *ngIf="item.IsEdited">
                    <input type="text" [(ngModel)]="item.StartDate" class="form-control">
                  </div>
                  <div *ngIf="item.IsEdited != true">
                    {{item.StartDate}}
                  </div>
                </td>
                <td>
                  <div *ngIf="item.IsEdited">
                    <input type="text" [(ngModel)]="item.EndDate" class="form-control">
                  </div>
                  <div *ngIf="item.IsEdited != true">
                    {{item.EndDatet}}
                  </div>
                </td>
                <td>
                  <div *ngIf="item.IsEdited">
                    <input type="text" [(ngModel)]="item.TotalHours" class="form-control">
                  </div>
                  <div *ngIf="item.IsEdited != true">
                    {{item.TotalHours}}
                  </div>
                </td>
                <td>
                  <div *ngIf="item.IsEdited">
                    <input type="text" [(ngModel)]="item.TrainerName" class="form-control">
                  </div>
                  <div *ngIf="item.IsEdited != true">
                    {{item.TrainerName}}
                  </div>
                </td>
                <td>
                    <div *ngIf="item.IsEdited">
                      <input type="text" [(ngModel)]="item.InstituteName" class="form-control">
                    </div>
                    <div *ngIf="item.IsEdited != true">
                      {{item.InstituteName}}
                    </div>
                  </td>
                <td class="actiontd" style="text-align: center">
                  <button [disabled]="submitted=='Submitted'" class="btn btn-primary btn-xs rowbutton" *ngIf="item.IsEdited != true" data-title="Edit" (click)="EditTraining(item)">
                    <span class="glyphicon glyphicon-pencil"></span>
                  </button>
                  <button [disabled]="submitted=='Submitted'" class="btn btn-success btn-xs rowbutton" *ngIf="item.IsEdited" data-title="Edit" (click)="SaveEditTraining(item)">
                    <span class="glyphicon glyphicon-floppy-saved"></span>
                  </button>
                  <button [disabled]="submitted=='Submitted'" class="btn btn-danger btn-xs rowbutton" data-title="Delete" (click)="DeleteTraining(i)">
                    <span class="glyphicon glyphicon-trash"></span>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="clear-fix"></div>
      <hr size="20">
      <div class="clear-fix"></div>
      <div class="row">
        <div class="col-md-7"></div>
        <div class="col-md-2">
          <a class="btn btn-primary" style="padding:6px 45px;font-size:14px" (click)="PreviousClick()" [routerLink]="['../skills']">Previous </a>
        </div>
        <div class="col-md-3">
          <a class="btn btn-primary" style="padding:6px 45px;font-size:14px" (click)="NextClick()" [routerLink]="['../certifications']">Save and Continue </a>
        </div>
      </div>
</div>