/* You can add global styles to this file, and also import other style files */

.labelText label
{
    font-size: 14px;
    font-weight: 500;
}
.clear-fix
{
  margin: 1%;
}
.h5css h5
{
    color:#31708f;
    font-size:17px;
    margin-left: 2%;
}
.rowbutton
{
    margin: 0% 15% 15% 10%;
}
.actiontd
{
    display: flex;
}