<div class="row guidelines">
<div class="col-md-2"></div>
<div class="col-md-7">
    <div class="panel panel-default">
        <div class="panel-heading">Guidelines</div>
        <div class="panel-body">
          <ol>
            <li>Always fill the form before the date of joining.
              Always fill the form before the date of joining.
              Always fill the form before the date of joining
              Always fill the form before the date of joining</li>
            <li>Use only the email that is provided</li>
            <li>Fill all the details.Always fill the form before the date of joining</li>
            <li>Test data</li>
            <li>Always fill the form before the date of joining</li>
            <li>Use only the email that is provided</li>
            <li>Fill all the details</li>
            <li>Test data.Always fill the form before the date of joining</li>
            <li>Always fill the form before the date of joining</li>
            <li>Use only the email that is provided</li>
            <li>Fill all the details</li>
            <li>Test data.Always fill the form before the date of joining.Always fill the form before the date of joining</li>
          </ol>
          <hr/>
          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4">
        
        </div>
        <div class="col-md-6">
            <button class="btn btn-primary">Create Profile </button>
        </div>
        </div>
        </div>
      </div>
</div>
<div class="col-md-3"></div>
</div>
