<div class="container">
  <div class="row h5css">
      <h5>Employer Info</h5>
    </div>
    <div class="clear-fix"></div>
    <div class="row labelText">
      <div class="col-md-2 form-group">
        <label>Employer</label>
        <input type="text" class="form-control" [(ngModel)]="employer.EmployerName" name="EmployerName" #EmployerName="ngModel" placeholder="Name">
        
      </div>
      <div class="col-md-2 form-group">
        <label>Designation</label>
        <input type="text" class="form-control" [(ngModel)]="employer.Designation" name="Designation" #Designation="ngModel" placeholder="Designation">
      </div>
      <div class="col-md-2 form-group">
        <label>Domain </label>
        <input type="text" class="form-control" [(ngModel)]="employer.Domain" name="Domain" #Domain="ngModel" placeholder="Domain">
      </div>
      <div class="col-md-2 form-group">
        <label>Joining Date</label>
        <input type="date" class="form-control" [(ngModel)]="employer.JoiningDate" name="JoiningDate" #JoiningDate="ngModel" placeholder="Date">
      </div>
      <div class="col-md-2 form-group">
        <label>Releiving Date</label>
        <input type="date" class="form-control" [(ngModel)]="employer.ReleivingDate" name="ReleivingDate" #ReleivingDate="ngModel" placeholder="Date">     
      </div>
      <div class="clear-fix"></div>
    </div>
    <div class="clear-fix"></div>
    <div class="row">
      <div class="col-md-5"></div>
      <div class="col-md-2">
        <button class="btn btn-primary addnew" type="submit" (click)="AddEmployer()">
          <i class="fa fa-plus"></i>
          Add New</button>
      </div>
      <div class="col-md-5"></div>
    </div>
    <div class="clear-fix"></div>
    <div class="clear-fix"></div>
    <div class="row container">
      <div class="table-responsive" *ngIf="employers.length>0">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>EmployerName</th>
              <th>Designation</th>
              <th>Domain</th>
              <th>Joining Date</th>
              <th>Releiving Date</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of employers;let i=index">
              <td>
                <div *ngIf="item.IsEdited">
                  <input type="text" [(ngModel)]="item.EmployerName" class="form-control">
                </div>
                <div *ngIf="item.IsEdited != true">
                  {{item.EmployerName}}
                </div>
              </td>
              <td>
                <div *ngIf="item.IsEdited">
                  <input type="text" [(ngModel)]="item.Designation" class="form-control">
                </div>
                <div *ngIf="item.IsEdited != true">
                  {{item.Designation}}
                </div>
              </td>
              <td>
                <div *ngIf="item.IsEdited">
                  <input type="text" [(ngModel)]="item.Domain" class="form-control">
                </div>
                <div *ngIf="item.IsEdited != true">
                  {{item.Domain}}
                </div>
              </td>
              <td>
                <div *ngIf="item.IsEdited">
                  <input type="text" [(ngModel)]="item.JoiningDate" class="form-control">
                </div>
                <div *ngIf="item.IsEdited != true">
                  {{item.JoiningDate}}
                </div>
              </td>
              <td>
                <div *ngIf="item.IsEdited">
                  <input type="text" [(ngModel)]="item.ReleivingDate" class="form-control">
                </div>
                <div *ngIf="item.IsEdited != true">
                  {{item.ReleivingDate}}
                </div>
              </td>
              <td class="actiontd" style="text-align: center">
                <button class="btn btn-primary btn-xs rowbutton" *ngIf="item.IsEdited != true" data-title="Edit" (click)="EditEmployer(item)">
                  <span class="glyphicon glyphicon-pencil"></span>
                </button>
                <button class="btn btn-success btn-xs rowbutton" *ngIf="item.IsEdited" data-title="Edit" (click)="SaveEditEmployer(item)">
                  <span class="glyphicon glyphicon-floppy-saved"></span>
                </button>
                <button class="btn btn-danger btn-xs rowbutton" data-title="Delete" (click)="DeleteEmployer(i)">
                  <span class="glyphicon glyphicon-trash"></span>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="clear-fix"></div>
    <hr size="20">
    <div class="clear-fix"></div>
    <div class="row">
      <div class="col-md-8"></div>
      <div class="col-md-2">
        <a class="btn btn-primary" style="padding:6px 45px;font-size:14px" (click)="PreviousClick()" [routerLink]="['../certifications']">Previous Step </a>
      </div>
      <div class="col-md-2">
        <a class="btn btn-primary" style="padding:6px 45px;font-size:14px" (click)="NextClick()" [routerLink]="['../memberships']">Next Step </a>
      </div>
    </div>
</div>