<div class="container">
  <div class="row h5css">
      <h5>Employer Info</h5>
    </div>
    <div class="clear-fix"></div>
    <form #employerForm="ngForm">
    <div class="row labelText">
      <div class="col-md-2 form-group">
        <label>Employer<span style="color: red">*</span></label>
        <input type="text" class="form-control" [(ngModel)]="employer.EmployerName" name="EmployerName" 
        #EmployerName="ngModel" placeholder="Name" required>
        <div *ngIf="EmployerName.errors && EmployerName.errors.required && (EmployerName.dirty||EmployerName.touched)" class="alert alert-danger">
            Employer Name is required
       </div>
    
      </div>
      <div class="col-md-2 form-group">
        <label>Designation<span style="color: red">*</span></label>
        <input type="text" class="form-control" [(ngModel)]="employer.Designation" name="Designation" 
        #Designation="ngModel" placeholder="Designation" required>
        <div *ngIf="Designation.errors && Designation.errors.required && (Designation.dirty||Designation.touched)" class="alert alert-danger">
            Designation is required
       </div>
    </div>
      <div class="col-md-2 form-group">
        <label>Domain <span style="color: red">*</span></label>
        <input type="text" class="form-control" [(ngModel)]="employer.Domain" name="Domain" #Domain="ngModel" 
        placeholder="Domain" required>
        <div *ngIf="Domain.errors && Domain.errors.required && (Domain.dirty||Domain.touched)" class="alert alert-danger">
            Domain is required
       </div>
    </div>
      <div class="col-md-2 form-group">
        <label>Joining Date<span style="color: red">*</span></label>
        <input type="date" class="form-control" [(ngModel)]="employer.JoiningDate" name="JoiningDate" 
        #JoiningDate="ngModel" placeholder="Date" required>
        <div *ngIf="JoiningDate.errors && JoiningDate.errors.required && (JoiningDate.dirty||JoiningDate.touched)" class="alert alert-danger">
            Joining Date is required
       </div>
    </div>
      <div class="col-md-2 form-group">
        <label>Relieving Date<span style="color: red">*</span></label>
        <input type="date" class="form-control" [(ngModel)]="employer.ReleivingDate" name="ReleivingDate" 
        #ReleivingDate="ngModel" placeholder="Date" required>     
        <div *ngIf="ReleivingDate.errors && ReleivingDate.errors.required && (ReleivingDate.dirty||ReleivingDate.touched)" class="alert alert-danger">
            Relieving Date is required
       </div>
     </div>
      <div class="clear-fix"></div>
    </div>
    <div class="clear-fix"></div>
    <div class="row">
      <div class="col-md-5"></div>
      <div class="col-md-2">
        <button [disabled]="submitted=='Submitted'|| !employerForm.valid" class="btn btn-primary addnew" type="submit" (click)="AddEmployer()">
          <i class="fa fa-plus"></i>
          Add</button>
      </div>
      <div class="col-md-5"></div>
    </div>
  </form>
    <div class="clear-fix"></div>
    <div class="clear-fix"></div>
    <div class="row container">
      <div class="table-responsive" *ngIf="employers.length>0">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>EmployerName</th>
              <th>Designation</th>
              <th>Domain</th>
              <th>Joining Date</th>
              <th>Relieving Date</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of employers;let i=index">
              <td>
                <div *ngIf="item.IsEdited">
                  <input type="text" [(ngModel)]="item.EmployerName" class="form-control">
                </div>
                <div *ngIf="item.IsEdited != true">
                  {{item.EmployerName}}
                </div>
              </td>
              <td>
                <div *ngIf="item.IsEdited">
                  <input type="text" [(ngModel)]="item.Designation" class="form-control">
                </div>
                <div *ngIf="item.IsEdited != true">
                  {{item.Designation}}
                </div>
              </td>
              <td>
                <div *ngIf="item.IsEdited">
                  <input type="text" [(ngModel)]="item.Domain" class="form-control">
                </div>
                <div *ngIf="item.IsEdited != true">
                  {{item.Domain}}
                </div>
              </td>
              <td>
                <div *ngIf="item.IsEdited">
                  <input type="text" [(ngModel)]="item.JoiningDate" class="form-control">
                </div>
                <div *ngIf="item.IsEdited != true">
                  {{item.JoiningDate}}
                </div>
              </td>
              <td>
                <div *ngIf="item.IsEdited">
                  <input type="text" [(ngModel)]="item.ReleivingDate" class="form-control">
                </div>
                <div *ngIf="item.IsEdited != true">
                  {{item.ReleivingDate}}
                </div>
              </td>
              <td class="actiontd" style="text-align: center">
                <button class="btn btn-primary btn-xs rowbutton" [disabled]="submitted=='Submitted'" *ngIf="item.IsEdited != true" data-title="Edit" (click)="EditEmployer(item)">
                  <span class="glyphicon glyphicon-pencil"></span>
                </button>
                <button class="btn btn-success btn-xs rowbutton" [disabled]="submitted=='Submitted'" *ngIf="item.IsEdited" data-title="Edit" (click)="SaveEditEmployer(item)">
                  <span class="glyphicon glyphicon-floppy-saved"></span>
                </button>
                <button class="btn btn-danger btn-xs rowbutton" [disabled]="submitted=='Submitted'" data-title="Delete" (click)="DeleteEmployer(item, i, 'Employers')">
                  <span class="glyphicon glyphicon-trash"></span>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="clear-fix"></div>
    <hr size="20">
    <div class="clear-fix"></div>
    <div class="row">
      <div class="col-md-7"></div>
      <div class="col-md-2">
        <a class="btn btn-primary" style="padding:6px 45px;font-size:14px" (click)="PreviousClick()" [routerLink]="['../certifications']">Previous</a>
      </div>
      <div class="col-md-3">
        <a class="btn btn-primary" style="padding:6px 45px;font-size:14px"  (click)="NextClick()" [routerLink]="['../memberships']">Next</a>
      </div>
    </div>
</div>