<div class="row" style="margin-top: 3%">
    <div class="thumbnail">
            <img src="../../assets/Images/ValueMomentum-Onboarding.jpg">
            <div class="caption">
                Employee On-boarding
            </div>
        </div>
  </div>
  <div class="row">
<div class="subheading">
  <div class="row">
      <h2>Join our growing team</h2>
  </div>
  <div class="row">
      <span>To specialize in your discipline, while enriching your industry experience for more 
          satisfying&nbsp;customer&nbsp;solutions.</span>
  </div>
<div class="row custom-btn">
<a [routerLink]="['CreateProfile']" class="btn btn-primary btn-md" >Initaite On-boarding</a>
</div>
</div>
  </div>