<div class="container">
  <div class="row h5css">
    <h5>Additional Info</h5>
  </div>
  <div class="row labelText">
    <div class="col-md-2"></div>
    <div class="col-md-2">
      <label>Emergency Contact</label>
    </div>
    <div class="col-md-1">:</div>
    <div class="col-md-3">
      <input type="number" class="form-control" placeholder="Mobile Number" [(ngModel)]=additionalDetails.EmergencyContact name="EmergencyContact"
        #EmergencyContact="ngModel">
    </div>
    <div class="col-md-2"></div>
  </div>
  <div class="clear-fix"></div>
  <div class="row labelText">
    <div class="col-md-2"></div>
    <div class="col-md-2">
      <label>Personal Contact</label>
    </div>
    <div class="col-md-1">:</div>
    <div class="col-md-3">
      <input type="number" class="form-control" placeholder="Mobile Number" [(ngModel)]=additionalDetails.PersonalContact name="PersonalContact"
        #PersonalContact="ngModel">
    </div>
    <div class="col-md-2"></div>
  </div>
  <div class="clear-fix"></div>
  <div class="row labelText">
    <div class="col-md-2"></div>
    <div class="col-md-2">
      <label>Date of Marriage</label>
    </div>
    <div class="col-md-1">:</div>
    <div class="col-md-3">
      <input type="date" class="form-control" placeholder="Date" [(ngModel)]=additionalDetails.DateofMarriage name="DateofMarriage"
        #DateofMarriage="ngModel">
    </div>
    <div class="col-md-2"></div>
  </div>
  <div class="clear-fix"></div>
  <div class="row labelText">
    <div class="col-md-2"></div>
    <div class="col-md-2">
      <label>Blood Group</label>
    </div>
    <div class="col-md-1">:</div>
    <div class="col-md-3">
      <select class="form-control" [(ngModel)]=additionalDetails.BloodGroup name="BloodGroup" #BloodGroup="ngModel">
        <option>Select</option>
        <option>A+</option>
        <option>A-</option>
        <option>B+</option>
        <option>B-</option>
        <option>O+</option>
        <option>O-</option>
        <option>AB+</option>
        <option>AB-</option>
      </select>
    </div>
    <div class="col-md-2"></div>
  </div>
  <div class="clear-fix"></div>
  <div class="row labelText">
    <div class="col-md-2"></div>
    <div class="col-md-2">
      <label>Personal Email</label>
    </div>
    <div class="col-md-1">:</div>
    <div class="col-md-3">
      <input type="email" class="form-control" placeholder="Email" [(ngModel)]=additionalDetails.PersonalEmail name="PersonalEmail"  #PersonalEmail="ngModel">
    </div>
    <div class="col-md-2"></div>
  </div>
  <div class="clear-fix"></div>
  <div class="row labelText">
    <div class="col-md-2"></div>
    <div class="col-md-2">
      <label>Passport Number</label>
    </div>
    <div class="col-md-1">:</div>
    <div class="col-md-3">
      <input type="number" class="form-control" placeholder="Passport" [(ngModel)]=additionalDetails.PassportNumber name="PassportNumber"
        #PassportNumber="ngModel">
    </div>
    <div class="col-md-2"></div>
  </div>
  <div class="clear-fix"></div>
  <div class="row labelText">
    <div class="col-md-2"></div>
    <div class="col-md-2">
      <label>Passport Valid Upto</label>
    </div>
    <div class="col-md-1">:</div>
    <div class="col-md-3">
      <input type="date" class="form-control" placeholder="Date" [(ngModel)]=additionalDetails.PassportValidUpto name="PassportValidUpto"
        #PassportValidUpto="ngModel">
    </div>
    <div class="col-md-2"></div>
  </div>
  <div class="clear-fix"></div>
  <div class="row labelText">
    <div class="col-md-2"></div>
    <div class="col-md-2">
      <label>Permenant Account Number</label>
    </div>
    <div class="col-md-1">:</div>
    <div class="col-md-3">
      <input type="number" class="form-control" placeholder="PAN" [(ngModel)]=additionalDetails.PermenantAccountNumber name="PermenantAccountNumber"
        #PermenantAccountNumber="ngModel">
    </div>
    <div class="col-md-2"></div>
  </div>
  <div class="clear-fix"></div>
  <div class="row labelText">
    <div class="col-md-2"></div>
    <div class="col-md-2">
      <label>Bank Name</label>
    </div>
    <div class="col-md-1">:</div>
    <div class="col-md-3">
      <input type="text" class="form-control" placeholder="Name" [(ngModel)]=additionalDetails.BankName name="BankName" #BankName="ngModel">
    </div>
    <div class="col-md-2"></div>
  </div>
  <div class="clear-fix"></div>
  <div class="row labelText">
    <div class="col-md-2"></div>
    <div class="col-md-2">
      <label>Bank Account Number</label>
    </div>
    <div class="col-md-1">:</div>
    <div class="col-md-3">
      <input type="number" class="form-control" placeholder="Account Number" [(ngModel)]=additionalDetails.BankAccountNumber name="BankAccountNumber"
        #BankAccountNumber="ngModel">
    </div>
    <div class="col-md-2"></div>
  </div>
  <div class="clear-fix"></div>
  <hr>
  <div class=""></div>
  <div class="row">
      <div class="col-md-8"></div>
      <div class="col-md-2">
        <a class="btn btn-primary" style="padding:6px 45px;font-size:14px" (click)="PreviousClick()" [routerLink]="['../insurances']">Previous Step </a>
      </div>
      <div class="col-md-2">
        <a class="btn btn-primary" style="padding:6px 45px;font-size:14px" (click)="SaveClick()" [routerLink]="['../submission']">Save </a>
      </div>
    </div>
</div>