<div class="container">
  <div class="row h5css">
    <h5>File Upload</h5>

  <div class="clear-fix"></div>
  <div class="row labelText">
      <div class="col-md-2"></div>
      <div class="col-md-2">
        <label>Experience<span style="color: red">*</span></label>
      </div>
      <div class="col-md-1">:</div>
      <div class="col-md-3">
        <select class="form-control" [disabled]="submitted=='Submitted'" required [(ngModel)]="experience" name="empType" >
          <option>Select</option>
          <option>Fresher</option>
          <option>Experienced</option>
        </select>
      </div>
    </div>


  <div class="clear-fix"></div>
  <div class="row labelText">
      <div class="col-md-2"></div>
      <div class="col-md-2">
        <label>File <span style="color: red">*</span></label>
      </div>
      <div class="col-md-1">:</div>      <div class="col-md-3">
          <select class="form-control" [(ngModel)]="fileType" name="Category" required>
            <option>Select</option>
            <option *ngIf="experience=='Fresher' || experience=='Experienced'">SSC/Class 10 Certificate</option>
            <option *ngIf="experience=='Fresher' || experience=='Experienced'">Intermediate Certificate</option>
            <option *ngIf="experience=='Fresher' || experience=='Experienced'">Graduation Certificate</option>
            <option *ngIf="experience=='Fresher' || experience=='Experienced'">Aadhaar Card</option>
            <option *ngIf="experience=='Fresher' || experience=='Experienced'">PAN Card</option>
            <option *ngIf="experience=='Experienced'">Resignation Letter</option>
            <option *ngIf="experience=='Experienced'">Payslip</option>
          </select>
      </div>
    </div>

    <div class="clear-fix"></div>
    <div class="row labelText">
        <div class="col-md-2"></div>
        <div class="col-md-3">
            <input type="text" class="form-control" placeholder="Description" [(ngModel)]="fileDesc">
        </div>
        <div class="col-md-3">
          <input type="file" class="form-control" #fileinput (change)="Selectfile($event)" [multiple]="3" required>    
        </div>
        <div class="col-md-3">
            <button class="btn btn-primary" (click)="Uploadfile()">    
              Upload
              </button>
          </div>
      </div>
      

      <div class="clear-fix"></div>
      <div class="row container" style="margin-left: 5px;margin-top: 50px">
        <div class="table" *ngIf="uploadedFiles.length>0">
          <table class="table table-hover table-sm">
            <thead>
              <tr>
                <th>S No.</th>
                <th>File Name</th>
                <th>File Type</th>
                <th>File Description</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of uploadedFiles;let i=index">
                  <td>
                      <div>
                        {{i+1}}
                      </div>
                    </td>
                <td>
                  <div>
                    {{item.FileName}}
                  </div>
                </td>
                <td>
                    <div>
                      {{item.TypeOfFile}}
                    </div>
                  </td>
                <td>
                  <div *ngIf="item.IsEdited != true">
                    {{item.FileDescription}}
                  </div>
               
                <td class="actiontd" style="text-align: center">
                  <button [disabled]="submitted=='Submitted'" class="btn btn-danger btn-sm rowbutton" data-title="Delete" (click)="DeleteFile(item, i,'Files')">
                    <span class="glyphicon glyphicon-trash"></span>
                  </button>
                  <button [disabled]="submitted=='Submitted'" class="btn btn-success btn-sm rowbutton" data-title="Download" (click)="Downloadfile(item)">
                      <span class="glyphicon glyphicon-download"></span>
                    </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>


  <hr size="20">
  <div class="clear-fix"></div>
  <div class="row">
    <div class="col-md-7"></div>
    <div class="col-md-2">
      <a class="btn btn-primary" style="padding:6px 45px;font-size:14px" (click)="PreviousClick()" [routerLink]="['../insurances']">Previous</a>
    </div>
    <div class="col-md-3">
      <a class="btn btn-primary" style="padding:6px 45px;font-size:14px" (click)="NextClick()" [routerLink]="['../submission']">Next</a>
    </div>
  </div>
</div>