<div class="container">
  <div class="row h5css">
    <h5>Additional Info</h5>
  </div>
  <form #adForm="ngForm">
  <div class="row labelText">
    <div class="col-md-2"></div>
    <div class="col-md-2">
      <label>Emergency Contact</label>
    </div>
    <div class="col-md-1">:</div>
    <div class="col-md-3">
      <input [disabled]="submitted=='Submitted'" type="number" class="form-control" placeholder="Mobile Number" [(ngModel)]=additionalDetails.EmergencyContact name="EmergencyContact"
        #EmergencyContact="ngModel" pattern="^((\\+91-?)|0)?[0-9]{10}$">
    </div>
    <div class="col-md-4">
        <div *ngIf="EmergencyContact.errors && EmergencyContact.errors.pattern && (EmergencyContact.dirty||EmergencyContact.touched)" class="alert alert-danger">
            Emergency Contact is Invalid
          </div>
    </div>
  </div>
  <div class="clear-fix"></div>
  <div class="row labelText">
    <div class="col-md-2"></div>
    <div class="col-md-2">
      <label>Personal Contact</label>
    </div>
    <div class="col-md-1">:</div>
    <div class="col-md-3">
      <input [disabled]="submitted=='Submitted'" type="number" class="form-control" placeholder="Mobile Number" [(ngModel)]=additionalDetails.PersonalContact name="PersonalContact"
        #PersonalContact="ngModel" pattern="^((\\+91-?)|0)?[0-9]{10}$">
    </div>
    <div class="col-md-4">
        <div *ngIf="PersonalContact.errors && PersonalContact.errors.pattern && (PersonalContact.dirty||PersonalContact.touched)" class="alert alert-danger">
            Personal Contact is Invalid
          </div>
    </div>
  </div>
  <div class="clear-fix"></div>
  <div class="row labelText">
    <div class="col-md-2"></div>
    <div class="col-md-2">
      <label>Date of Marriage</label>
    </div>
    <div class="col-md-1">:</div>
    <div class="col-md-3">
      <input [disabled]="submitted=='Submitted'" type="date" class="form-control" placeholder="Date" [(ngModel)]=additionalDetails.DateofMarriage name="DateofMarriage"
        #DateofMarriage="ngModel">
    </div>
    <div class="col-md-2"></div>
  </div>
  <div class="clear-fix"></div>
  <div class="row labelText">
    <div class="col-md-2"></div>
    <div class="col-md-2">
      <label>Blood Group</label>
    </div>
    <div class="col-md-1">:</div>
    <div class="col-md-3">
      <select [disabled]="submitted=='Submitted'" class="form-control" [(ngModel)]=additionalDetails.BloodGroup name="BloodGroup" #BloodGroup="ngModel" required>
        <option>Select</option>
        <option>A+</option>
        <option>A-</option>
        <option>B+</option>
        <option>B-</option>
        <option>O+</option>
        <option>O-</option>
        <option>AB+</option>
        <option>AB-</option>
      </select>
    </div>
    <div class="col-md-2"></div>
  </div>
  <div class="clear-fix"></div>
  <div class="row labelText">
    <div class="col-md-2"></div>
    <div class="col-md-2">
      <label>Personal Email</label>
    </div>
    <div class="col-md-1">:</div>
    <div class="col-md-3">
      <input [disabled]="submitted=='Submitted'" type="email" class="form-control" placeholder="Email" 
      [(ngModel)]=additionalDetails.PersonalEmail name="PersonalEmail" 
       #PersonalEmail="ngModel" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
    </div>
    <div class="col-md-4">
        <div *ngIf="PersonalEmail.errors && (PersonalEmail.dirty||PersonalEmail.touched)" class="alert alert-danger">
            Email is required
       </div>
    </div>
  </div>
  <div class="clear-fix"></div>
  <div class="row labelText">
    <div class="col-md-2"></div>
    <div class="col-md-2">
      <label>Passport Number</label>
    </div>
    <div class="col-md-1">:</div>
    <div class="col-md-3">
      <input [disabled]="submitted=='Submitted'" type="text" class="form-control" placeholder="Passport" [(ngModel)]=additionalDetails.PassportNumber name="PassportNumber"
        #PassportNumber="ngModel">
    </div>
    <div class="col-md-2"></div>
  </div>
  <div class="clear-fix"></div>
  <div class="row labelText">
    <div class="col-md-2"></div>
    <div class="col-md-2">
      <label>Passport Valid Upto</label>
    </div>
    <div class="col-md-1">:</div>
    <div class="col-md-3">
      <input [disabled]="submitted=='Submitted'" type="date" class="form-control" placeholder="Date" [(ngModel)]=additionalDetails.PassportValidUpto name="PassportValidUpto"
        #PassportValidUpto="ngModel">
    </div>
    <div class="col-md-2"></div>
  </div>
  <div class="clear-fix"></div>
  <div class="row labelText">
    <div class="col-md-2"></div>
    <div class="col-md-2">
      <label>Permenant Account Number</label>
    </div>
    <div class="col-md-1">:</div>
    <div class="col-md-3">
      <input [disabled]="submitted=='Submitted'" type="text" class="form-control" placeholder="PAN" [(ngModel)]=additionalDetails.PermenantAccountNumber name="PermenantAccountNumber"
        #PermenantAccountNumber="ngModel">
    </div>
    <div class="col-md-2"></div>
  </div>
  <div class="clear-fix"></div>
  <div class="row labelText">
    <div class="col-md-2"></div>
    <div class="col-md-2">
      <label>Bank Name</label>
    </div>
    <div class="col-md-1">:</div>
    <div class="col-md-3">
      <input [disabled]="submitted=='Submitted'" type="text" class="form-control" placeholder="Name" [(ngModel)]=additionalDetails.BankName name="BankName" #BankName="ngModel">
    </div>
    <div class="col-md-2"></div>
  </div>
  <div class="clear-fix"></div>
  <div class="row labelText">
    <div class="col-md-2"></div>
    <div class="col-md-2">
      <label>Bank Account Number</label>
    </div>
    <div class="col-md-1">:</div>
    <div class="col-md-3">
      <input [disabled]="submitted=='Submitted'" type="number" class="form-control" placeholder="Account Number" [(ngModel)]=additionalDetails.BankAccountNumber name="BankAccountNumber"
        #BankAccountNumber="ngModel">
    </div>
    <div class="col-md-2"></div>
  </div>
  <div class="clear-fix"></div>
  <hr>
  <div class=""></div>
  <div class="row">
      <div class="col-md-8"></div>
      <div class="col-md-2">
        <button class="btn btn-primary" style="padding:6px 45px;font-size:14px" (click)="PreviousClick()" [routerLink]="['../insurances']">Previous Step </button>
      </div>
      <div class="col-md-2">
        <button class="btn btn-primary" style="padding:6px 45px;font-size:14px" [disabled]="submitted=='Submitted'|| !adForm.valid" (click)="SaveClick()" >Save </button>
      </div>
    </div>
  </form>
</div>