<div class="container">
  <div class="row h5css">
      <h5>Certifications Info</h5>
    </div>
    <div class="clear-fix"></div>
    <form #certificationForm="ngForm">
    <div class="row labelText">
      <div class="col-md-2 form-group">
        <label>Category<span style="color: red">*</span></label>
        <select class="form-control" [(ngModel)]="certification.Category" name="Category" 
        #Category="ngModel" required>
          <option>Select</option>
          <option>Technical</option>
          <option>Domain</option>
          <option>Process Compliance</option>
          <option>IT Security Compliance</option>
          <option>Others</option>
        </select>
        <div *ngIf="certification.Category == 'Select' && (Category.dirty||Category.touched)" class="alert alert-danger">
            Category is required
       </div>
      </div>
      <div class="col-md-2 form-group">
        <label>Certification ID<span style="color: red">*</span></label>
        <input type="text" class="form-control" [(ngModel)]="certification.CertificationID" 
        name="CertificationID" #CertificationID="ngModel" placeholder="CertificationID" required>
        <div *ngIf="CertificationID.errors && CertificationID.errors.required && (CertificationID.dirty||CertificationID.touched)" class="alert alert-danger">
            Certification ID is required
       </div>
    </div>
      <div class="col-md-2 form-group">
        <label>Title <span style="color: red">*</span></label>
        <input type="text" class="form-control" [(ngModel)]="certification.Title" name="Title" 
        #Title="ngModel" placeholder="Certification Name" required>
        <div *ngIf="Title.errors && Title.errors.required && (Title.dirty||Title.touched)" class="alert alert-danger">
            Title is required
       </div>
    </div>
      <div class="col-md-2 form-group">
        <label>Certified By<span style="color: red">*</span></label>
        <input type="text" class="form-control" [(ngModel)]="certification.CertifiedBy" name="CertifiedBy" 
        #CertifiedBy="ngModel" placeholder="Institute" required>
        <div *ngIf="CertifiedBy.errors && CertifiedBy.errors.required && (CertifiedBy.dirty||CertifiedBy.touched)" class="alert alert-danger">
            Certified By is required
       </div>
    </div>
      <div class="col-md-2 form-group">
        <label>Issued Date<span style="color: red">*</span></label>
        <input type="date" class="form-control" [(ngModel)]="certification.IssuedDate" name="IssuedDate" 
        #IssuedDate="ngModel" placeholder="Date" required>     
        <div *ngIf="IssuedDate.errors && IssuedDate.errors.required && (IssuedDate.dirty||IssuedDate.touched)" class="alert alert-danger">
            Issued Date is required
       </div>
    </div>
      <div class="col-md-2 form-group">
        <label>Valid Upto<span style="color: red">*</span></label>
        <input type="date" class="form-control" [(ngModel)]="certification.ValidUpto" name="ValidUpto" 
        #ValidUpto="ngModel" placeholder="Date" required>
        <div *ngIf="ValidUpto.errors && ValidUpto.errors.required && (ValidUpto.dirty||ValidUpto.touched)" class="alert alert-danger">
            Valid Upto is required
       </div>
    </div>
      <div class="clear-fix"></div>
    </div>
    <div class="clear-fix"></div>
    <div class="row">
      <div class="col-md-5"></div>
      <div class="col-md-2">
        <button [disabled]="submitted=='Submitted'|| !certificationForm.valid" class="btn btn-primary addnew" type="submit" (click)="AddCertification()">
          <i class="fa fa-plus"></i>
          Add</button>
      </div>
      <div class="col-md-5"></div>
    </div>
  </form>
    <div class="clear-fix"></div>
    <div class="clear-fix"></div>
    <div class="row container">
      <div class="table-responsive" *ngIf="certifications.length>0">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Category</th>
              <th>Certification ID</th>
              <th>Title</th>
              <th>CertifiedBy</th>
              <th>Issued Date</th>
              <th>Valid Upto</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of certifications;let i=index">
              <td>
                <div *ngIf="item.IsEdited">
                  <input type="text" [(ngModel)]="item.Category" class="form-control">
                </div>
                <div *ngIf="item.IsEdited != true">
                  {{item.Category}}
                </div>
              </td>
              <td>
                <div *ngIf="item.IsEdited">
                  <input type="text" [(ngModel)]="item.CertificationID" class="form-control">
                </div>
                <div *ngIf="item.IsEdited != true">
                  {{item.CertificationID}}
                </div>
              </td>
              <td>
                <div *ngIf="item.IsEdited">
                  <input type="text" [(ngModel)]="item.Title" class="form-control">
                </div>
                <div *ngIf="item.IsEdited != true">
                  {{item.Title}}
                </div>
              </td>
              <td>
                <div *ngIf="item.IsEdited">
                  <input type="text" [(ngModel)]="item.CertifiedBy" class="form-control">
                </div>
                <div *ngIf="item.IsEdited != true">
                  {{item.CertifiedBy}}
                </div>
              </td>
              <td>
                <div *ngIf="item.IsEdited">
                  <input type="text" [(ngModel)]="item.IssuedDate" class="form-control">
                </div>
                <div *ngIf="item.IsEdited != true">
                  {{item.IssuedDate}}
                </div>
              </td>
              <td>
                <div *ngIf="item.IsEdited">
                  <input type="text" [(ngModel)]="item.ValidUpto" class="form-control">
                </div>
                <div *ngIf="item.IsEdited != true">
                  {{item.ValidUpto}}
                </div>
              </td>
              <td class="actiontd" style="text-align: center">
                <button [disabled]="submitted=='Submitted'" class="btn btn-primary btn-xs rowbutton" *ngIf="item.IsEdited != true" data-title="Edit" (click)="EditCertification(item)">
                  <span class="glyphicon glyphicon-pencil"></span>
                </button>
                <button [disabled]="submitted=='Submitted'" class="btn btn-success btn-xs rowbutton" *ngIf="item.IsEdited" data-title="Edit" (click)="SaveEditCertification(item)">
                  <span class="glyphicon glyphicon-floppy-saved"></span>
                </button>
                <button [disabled]="submitted=='Submitted'" class="btn btn-danger btn-xs rowbutton" data-title="Delete" (click)="DeleteCertification(item, i,'Certifications')">
                  <span class="glyphicon glyphicon-trash"></span>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="clear-fix"></div>
    <hr size="20">
    <div class="clear-fix"></div>
    <div class="row">
      <div class="col-md-7"></div>
      <div class="col-md-2">
        <a class="btn btn-primary" style="padding:6px 45px;font-size:14px" (click)="PreviousClick()" [routerLink]="['../trainings']">Previous</a>
      </div>
      <div class="col-md-3">
        <a class="btn btn-primary" style="padding:6px 45px;font-size:14px" (click)="NextClick()" [routerLink]="['../employers']">Next</a>
      </div>
    </div>
</div>