<div class="container">
    <div class=" row text-center profile">
      Onboarding Request
    </div>
    <div *ngIf="loading">
      <div class="loading"></div>
    </div>
    <div *ngIf="appError">
      <div class="alert alert-danger fade in">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <h5>
          <strong>Error!</strong> {{errorMessage}} </h5>
      </div>
    </div>
    <div *ngIf="successMessage != ''">
      <div class="alert alert-success fade in">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <h5>
          <strong>Success!</strong> {{successMessage}} </h5>
      </div>
    </div>
    <div class="clear-fix"></div>
    <div class="row" *ngIf="hasError">
      <div class="alert alert-danger fade in">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <h5>
          <strong>Error!</strong> Something went wrong please try after sometime. If the issue persists please contact Finance Team
        </h5>
      </div>
    </div>
    <div class="row">
      <div class="panel panel-info">
        <div class="panel-heading">Verify User</div>
        <div class="panel-body">
          <form #user="ngForm" (ngSubmit)="Verify(user.value)" class="form-inline" novalidate>
  
            <div class="row labelText">
              <div class="col-md-2"></div>
              <div class="col-md-2 form-group customtextbox">
                <input type="email" class="form-control" id="inputEmail" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" name="email"
                  #email="ngModel" placeholder="Email ID" [(ngModel)]="emailID" required>
                <div *ngIf="email.errors && email.errors.required && (email.dirty||email.touched)" class="alert alert-danger">
                     Email is required
                </div>
                <div *ngIf="email.errors && email.errors.pattern && (email.dirty||email.touched)" class="alert alert-danger">
                    Email is Invalid
                  </div>
              </div>
  
              <div class="col-md-2 form-group customtextbox">
                <input type="text" required class="form-control" id="inputname" name="name" #name="ngModel" placeholder="Full Name" [(ngModel)]="fullName">
                <div *ngIf="name.errors && name.errors.required && (name.dirty||name.touched)" class="alert alert-danger">
                    Name is required
               </div>
              </div>
              <button type="submit" [ngClass]="{
                  'btn-primary':verifyStatus === 'Verify',
                  'btn-success':verifyStatus === 'Success',
                  'btn-danger':verifyStatus === 'Failed'
                }" class="col-md-1 btn  customtextbox"  
                [disabled]="!user.dirty || !user.valid">{{verifyStatus}}</button>
              <p>Note : Please provide the Full name and Email ID as specified in your resume</p>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="recordExists">
      <p class="customp">Hello, {{fullName}} Please take a moment to complete the onboarding request by filling the details listed below to continue
        with hiring process.
      </p>
    </div>
  <div class="row"  *ngIf="recordExists">
      <div class="board">
      <div class="board-inner">
          <ul class="nav nav-tabs" id="myTab">
          <div class="liner"></div>
           <li class="active">
           <a  data-toggle="tab" title="Personal" (click)="Navigate($event)">
            <span class="round-tabs one">
                    <i class="glyphicon glyphicon-user"></i>
            </span> 
        </a></li>
  
        <li><a  data-toggle="tab" title="Qualifications" (click)="Navigate($event)">
           <span class="round-tabs two">
               <i class="glyphicon glyphicon-education"></i>
           </span> 
  </a>
       </li>
       <li><a  data-toggle="tab" title="Skills" (click)="Navigate($event)">
           <span class="round-tabs three">
                <i class="glyphicon glyphicon-book"></i>
           </span> </a>
           </li>
  
           <li><a data-toggle="tab" title="Trainings" (click)="Navigate($event)">
               <span class="round-tabs four">
                    <i class="glyphicon glyphicon-subscript"></i>
               </span> 
           </a></li>
  
           <li><a  data-toggle="tab" title="Certifications" (click)="Navigate($event)">
               <span class="round-tabs five">
                    <i class="glyphicon glyphicon-certificate"></i>
               </span> </a>
           </li>
           <li><a data-toggle="tab" title="Employers" (click)="Navigate($event)">
              <span class="round-tabs six">
                   <i class="glyphicon glyphicon-user"></i>
              </span> </a>
          </li>
          <li><a data-toggle="tab" title="Memberships" (click)="Navigate($event)">
              <span class="round-tabs seven">
                   <i class="glyphicon glyphicon-bookmark"></i>
              </span> </a>
          </li>
          <li><a data-toggle="tab" title="Insurance" (click)="Navigate($event)">
              <span class="round-tabs eight">
                   <i class="glyphicon glyphicon-heart"></i>
              </span> </a>
          </li>
          <li><a  data-toggle="tab" title="Additional Details" (click)="Navigate($event)">
              <span class="round-tabs nine">
                   <i class="glyphicon glyphicon-list-alt"></i>
              </span> </a>
          </li>
          <li><a data-toggle="tab" title="Done" (click)="Navigate($event)">
              <span class="round-tabs ten">
                   <i class="glyphicon glyphicon-ok"></i>
              </span> </a>
          </li>
           </ul></div>
           
      </div>
  </div>
    <div class="row" *ngIf="recordExists">
      <div class="panel panel-info">
        <div class="panel-heading">User Profile</div>
        <div class="panel-body">
          <form #profile="ngForm">
            <div class="row ">
              <router-outlet></router-outlet>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>