<div class="container">
  <div class=" row text-center profile">
    Onboarding Request
  </div>
  <div *ngIf="loading">
    <div class="loading"></div>
  </div>
  <div class="row">
    <div class="panel panel-info">
      <div class="panel-heading">Verify User</div>
      <div class="panel-body">
        <form #user="ngForm" (ngSubmit)="Verify(user.value)" class="form-inline" novalidate>
         
          <div class="row labelText">
            <div class="col-md-2"></div>
              <div class="col-md-2 form-group customtextbox" required [ngClass]="{  
                'has-danger': email.invalid && (email.dirty || email.touched),  
                'has-success': email.valid && (email.dirty || email.touched)}">
                  <input type="email" class="form-control" id="inputEmail" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" name="email" #email="ngModel" placeholder="Email ID" [(ngModel)]="emailID">
              </div>
             
              <div class="col-md-2 form-group customtextbox">        
                  <input type="text" class="form-control" id="inputname"  name="name" #name="ngModel" placeholder="Full Name" [(ngModel)]="fullName">
              </div>
              <button type="submit" [ngClass]="{
                'btn-primary':verifyStatus === 'Verify',
                'btn-success':verifyStatus === 'Success',
                'btn-danger':verifyStatus === 'Failed'
              }" class="col-md-1 btn  customtextbox">{{verifyStatus}}</button>
              <p>Note : Please provide the Full name and Email ID as specified in your resume</p>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="recordExists">
<p class="customp">Hello, {{fullName}} Please take a moment to complete the onboarding request by filling the details listed below
  to continue with hiring process.  
</p>
  </div>
  <div class="row" *ngIf="recordExists">
      <div class="panel panel-info" >
        <div class="panel-heading">User Profile</div>
        <div class="panel-body">
          <form #profile="ngForm">
            <div class="row ">
              <router-outlet></router-outlet>              
            </div>
          </form>
        </div>
      </div>
    </div>
</div>