<nav class="navbar navbar-default customnavbar ">
  <a class="navbar-brand" href="#">
    <img src="../../assets/Images/ValueMomentum-logo.png">
  </a>
  <button style="position:relative;left:250px" class="sbtn btn-primary btn-lg round" onclick="location.href = 'https://www.valuemomentum.com/'">Visit Valuemomentum.com</button>
  <button style="position:absolute; right:100px" class="btn btn-lg round contact" onclick="location.href = 'https://www.valuemomentum.com/contact/'">Contact US</button>
</nav>
