.custonnavbar-nav
{
    flex-direction: row;
    font-size: 16px;
float: right;
margin-top: 4%;
font-family: "Open Sans", sans-serif;
font-weight: 700;

}
.customnavbar
{
    background-color: white;
    border: none; 
    margin: 0% 10% 0% 10%;
}
ul li a{
    color: #097dae;
    font-weight: bold;
    border-color: white;
    background-color:white !important;
}
ul li a:active{
    background-color: #b1d3e2 !important;
}
ul li a:hover{
    color: #06455f !important;
}

